/** Add css rules here for your application. */

body{ margin:0;}

.headerLabel{background:url(images/savara-banner.png) no-repeat;}

.validConversationTable{background:green;font-size:25px;color:green}
.invalidConversationTable{background:red}
