<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->
<module xmlns="urn:jboss:module:1.0" name="org.savara">
    <resources>
        <resource-root path="org.savara.common-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.savara.contract-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.savara.monitor-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.savara.pi4soa.cdm-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.savara.protocol-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.savara.wsdl-2.0.0-SNAPSHOT.jar"/>

        <resource-root path="org.scribble.common-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.scribble.protocol.export.monitor-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.scribble.protocol.monitor-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.scribble.protocol.parser-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.scribble.protocol.projection-2.0.0-SNAPSHOT.jar"/>
        <resource-root path="org.scribble.protocol-2.0.0-SNAPSHOT.jar"/>

        <resource-root path="emf-common-2.3.0.jar"/>
        <resource-root path="emf-ecore-2.3.1.jar"/>
        <resource-root path="emf-ecore-xmi-2.3.1.jar"/>
        <resource-root path="org.pi4soa.common-3.1.1-SNAPSHOT.jar"/>
        <resource-root path="org.pi4soa.cdl-3.1.1-SNAPSHOT.jar"/>
        <resource-root path="org.pi4soa.service-3.1.1-SNAPSHOT.jar"/>
    </resources>

    <dependencies>
	<module name="javax.api" />
	<module name="javax.xml.bind.api" />
    </dependencies>
</module>
